:root{
    --clr: #222327;
}
.navbar{
    width: 100%;
    height: 70px;
    background: white;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}
.logo_navbar{
    width: 100px;
    display: flex;
    margin-right: 65%;
}
.nav{
    display: flex;
    width: 300px;
}
.item{
    position: relative;
    list-style: none;
    width: 100%;
    height: 70px;
    z-index: 1;
}
.navcontainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.3s;
    color:var(--clr); ;
}
.item:hover .icon{
    transform: translateY(-35px);
} 
.text{
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}
.item:hover .text{
    opacity: 1;
    transform: translateY(10px);
    
}