header{   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgb(37, 36, 36);
    color:aliceblue;    
}
.header_image {
    width: 70%;
    height: auto;
    margin-bottom: 10px; 
    display: block; 
    margin-left: auto;
    margin-right: auto;
}
h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    text-align: center;
    color: #a4b414; /* Cambia el color del texto a blanco */
}