
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://giffiles.alphacoders.com/139/13998.gif");
    background-size: cover;
}
.textError{
    margin-top: 400px;
    color: #fff;
    font-size: 3rem;
}
